.fetchSection {display: flex; align-items: center; justify-content: center; width: 100%; min-height: 100vh; background: #000;
    .fetchBox {background: #fff; padding: 1.5rem; display: flex; flex-flow: column;}
}