.toggleBox {width: 150px; height: 40px; padding: 1px; margin: 100px auto; border-radius: 40px; position: relative; transition: all ease-in-out 0.3s; background: rgba($color: #000000, $alpha: 0.15);
    span { height: 100%; width: 40px; border-radius: 40px; position: relative; left: 0; transition: all ease-in-out 0.3s; display: flex; align-items: center; justify-content: center; background: #fff; font-size: 12px; cursor: pointer;}

    &.active {background: greenyellow;
        span {left: 100%; transform: translateX(-100%);}
    }
}
