.projectLinks {
    width: 100dvw;
    height: 100dvh;
    padding: 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        li {
            list-style-type: none;

            a {
                color: #000;
                text-decoration: none;
                cursor: pointer;
                display: block;
                padding: 1rem;
                font-size: 1rem;
                border-radius: 0.625rem;
                background: rgba($color: #000000, $alpha: .04);
                border: 1px solid rgba($color: #000000, $alpha: .06);

                &:hover, &.active {background: green; color: #fff;}
            }
        }
    }

    &:has(+ *) {padding: 1rem 10%; margin: 0 0 1rem; height: auto;
        ul {gap: 0.5rem;
            li {
                a {padding: 0.25rem 0.5rem; font-size: 0.875rem;}
            }
        }
    }
}